.LoginTitle
{
FONT-SIZE: 37pt;
COLOR: #D2DBE4;
FONT-FAMILY: TAHOMA,ARIAL,VERDANA;
FONT-WEIGHT: BOLD;
}

.LoginLabel
{
FONT-SIZE: 8pt;
COLOR: #4F6B85;
FONT-FAMILY: TAHOMA,ARIAL,VERDANA;
FONT-WEIGHT: BOLD;
}

.LeftLogin
{
FONT-SIZE: 37pt;
COLOR: #D3D3D3;
FONT-FAMILY: TAHOMA,ARIAL,VERDANA;
FONT-WEIGHT: BOLD;
}
.Table1 {
        border:2px solid #6B6E7D;
        background:#EBEBEB}

.MSG{   
        COLOR:#002E8D;
        FONT-SIZE: 8pt;
        FONT-FAMILY: VERDANA,ARIAL,TAHOMA;}

.LableBoldDark {
        FONT-SIZE: 8PT;
        FONT-FAMILY: VERDANA,ARIAL,TAHOMA;
        COLOR: #666666;
        FONT-WEIGHT: BOLD;
        }

.Form   {
        FONT-SIZE: 8PT;
        COLOR: #636363;
        FONT-FAMILY: VERDANA,ARIAL,TAHOMA;
        }
.But{
        color:#7C7C7C;
        FONT-SIZE: 9PT;
        FONT-FAMILY: Arial,tahoma,verdana;
        FONT-WEIGHT: BOLD;
        background-color:#EBEBEB;
        width:99px;
        text-align:center;
        border:1PX #BB4B4E solid;
        cursor:hand;
        text-decoration: none;
        letter-spacing: 1px;
        height:19px;
        }
.ButLogin{
        COLOR: #636363;
        FONT-SIZE: 8PT;
        FONT-FAMILY: VERDANA,ARIAL,TAHOMA;
        FONT-WEIGHT: BOLD;
        background-color:#EBEBEB;
        width:97px;
        text-align:center;
        border: 1pt outset #FF0000;
        cursor:hand;
        text-decoration: none;
        vertical-align: middle;
        height:17px}

.PDSTitle{
        COLOR: #565864;
        FONT-SIZE: 25px;
        FONT-FAMILY: TAHOMA,VERDANA,ARIAL;
}
.PDSTitleSmall{
	COLOR: #565864;
        FONT-SIZE: 20px;
        FONT-FAMILY: TAHOMA,VERDANA,ARIAL;
}

.PDSText {
        COLOR: #565864;
        FONT-SIZE: 80%;
        FONT-FAMILY: TAHOMA,VERDANA,ARIAL;
}

a:link.LableBold , a:visited.LableBold {
        FONT-SIZE: 8PT;
        FONT-FAMILY: VERDANA,ARIAL,TAHOMA;
        COLOR:#0552A5;
        FONT-WEIGHT: BOLD;
        TEXT-DECORATION:underline;}

.InstituteList
{
    OVERFLOW: auto;
    WIDTH: 100%;
    PADDING-TOP: 5px;
    HEIGHT: 95px;
}

